[submodule "FAMock"]
	path = FAMock
	url = https://github.com/ksfraser/FAMock.git
[submodule "Prefs"]
	path = Prefs
	url = https://github.com/ksfraser/Prefs.git
[submodule "ModulesDAO"]
	path = ModulesDAO
	url = https://github.com/ksfraser/ksf_ModulesDAO.git
[submodule "html"]
	path = html
	url = https://github.com/ksfraser/html.git
